@use "sass:math";
@import "@/styles/index.scss";
$size: 24px;
$padding: 10px;

.table_info_wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #e6f7ff;
	border: 1px solid #91d5ff;
	padding: 8px 16px;
	border-radius: 2px;
}

.info_total {
	margin-right: $padding;
}
.info_strong_value {
	margin: 0 math.div($padding, 2);
	color: $primary_color;
	font-weight: bold;
}
.info_clear {
	margin-left: $padding;
	cursor: pointer;
	color: $primary_color;
	font-weight: bold;
	transform: color 0.3s;
	&:active {
		color: rgba($primary_color, 0.8);
	}
}
.info_left {
	transition: opacity 0.3s ease-in-out;
	opacity: 1;
}
.hidden {
	visibility: hidden;
	opacity: 0;
}
