@import "@/styles/index.scss";
.title_toolbar {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 8px auto;
	.title {
		@include ellipsis();
	}
	.toolbar {
		flex: auto;
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		& > *:not(:first-child) {
			margin-right: 8px;
		}
	}
	.reload_icon {
		cursor: pointer;
		font-size: 16px;
	}
}
