@import "@/styles/index";
$header_height: 48px;
$collapsed_width: 48px;
$open_width: 200px;

.app_header {
  @include layout_fade;
  @apply shadow-sm;
  z-index: 11;
  background-color: white;
  padding: 0 $base_spacing * 2 0 $base_spacing;
  height: $header_height;
  line-height: $header_height;

  .icon {
    font-size: 26px;
    cursor: pointer;
    padding: $base_spacing ;
    color: rgba($primary_color, 0.6);
  }
  &.collapsed {
    left: $collapsed_width !important;
    .icon {
      transform: rotate(-180deg);
    }
  }
  &.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: $open_width;
  }
}
.place_holder {
  display: none;
  height: $header_height;
  width: 100%;
  @include layout_fade;
  &.fixed {
    display: block;
  }
}
