{"swagger":"2.0","info":{"description":"Restful 风格接口","version":"1.0","title":"派博小程序API接口文档"},"host":"app.peplife.net","basePath":"/","tags":[{"name":"ORG - 住户护理方案","description":"Member Care Plan Controller"},{"name":"ORG - 住户护理方案项目","description":"Member Care Plan Item Controller"},{"name":"ORG - 健康数据","description":"Org Data Bed Controller"},{"name":"ORG - 告警管理","description":"Alarm Controller"},{"name":"ORG - 床位管理","description":"Bed Controller"},{"name":"ORG - 房客管理","description":"Org Member Controller"},{"name":"ORG - 房间管理","description":"Room Controller"},{"name":"ORG - 护理方案","description":"Care Plan Controller"},{"name":"ORG - 护理方案项目","description":"Care Plan Item Controller"},{"name":"ORG - 护管管理","description":"Care Worker Controller"},{"name":"ORG - 楼层管理","description":"Building Controller"},{"name":"ORG - 用户登录","description":"Org Login Controller"},{"name":"ORG - 管理首页","description":"Index Controller"},{"name":"ORG - 设备管理","description":"Org Device Controller"},{"name":"ORG - 预警设置","description":"Alarm Setting Controller"},{"name":"Redis信息","description":"Redis Controller"},{"name":"会员管理 - 会员列表","description":"Member Controller"},{"name":"会员管理 - 意见反馈","description":"Member Feedback Controller"},{"name":"保存数据服务","description":"Bed Server Controller"},{"name":"字典加强","description":"Sys Dict Controller"},{"name":"字典管理","description":"Sys Dict Item Controller"},{"name":"文件上传","description":"Upload Controller"},{"name":"机构管理-new","description":"Sys Depart Controller"},{"name":"消息中心 - 提醒方案","description":"Reminder Plan Controller"},{"name":"用户登录","description":"Login Controller"},{"name":"用户管理","description":"Sys User Controller"},{"name":"省份管理","description":"Sys Area Controller"},{"name":"系统管理 - 字典管理","description":"System Dict Controller"},{"name":"系统管理 - 文件管理","description":"System File Controller"},{"name":"系统管理 - 日志管理","description":"System Log Controller"},{"name":"菜单权限","description":"Sys Permission Controller"},{"name":"角色管理","description":"Sys Role Controller"},{"name":"设备管理 - 体脂秤设备数据","description":"Data Body Fat Controller"},{"name":"设备管理 - 尿检马桶设备数据","description":"Data Urinalysis Controller"},{"name":"设备管理 - 床垫设备数据","description":"Data Bed Controller"},{"name":"设备管理 - 心电仪设备数据","description":"Data Ecg Controller"},{"name":"设备管理 - 手表设备数据","description":"Data Watch Controller"},{"name":"设备管理 - 流量卡信息","description":"Device Sim Controller"},{"name":"设备管理 - 血压计设备数据","description":"Data Blood Pressure Controller"},{"name":"设备管理 - 血氧仪设备数据","description":"Data Blood Oxygen Controller"},{"name":"设备管理 - 血糖仪设备数据","description":"Data Blood Glucose Controller"},{"name":"设备管理 - 设备信息","description":"Device Controller"},{"name":"设备管理 - 设备升级","description":"Device Upgrade Controller"},{"name":"重复校验","description":"Duplicate Check Controller"}],"paths":{"/api/upload/file/cos":{"post":{"tags":["文件上传"],"summary":"文件上传-腾讯云","operationId":"uploadToCosUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"file","in":"formData","description":"file","required":true,"type":"file"},{"name":"path","in":"query","description":"path","required":false,"type":"string","default":"default"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"SysFile","$ref":"#/definitions/SysFile"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/dataBed/deleteBatch":{"delete":{"tags":["设备管理 - 床垫设备数据"],"summary":"床垫设备数据 - 批量删除","operationId":"deleteBatchUsingDELETE","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"ids","in":"query","description":"ids","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/devicemgt/dataBed/list":{"post":{"tags":["设备管理 - 床垫设备数据"],"summary":"床垫设备数据 - 分页列表查询","operationId":"queryPageListUsingPOST_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"dataBed","description":"dataBed","required":true,"schema":{"originalRef":"DataBed","$ref":"#/definitions/DataBed"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"IPage«DataBed»","$ref":"#/definitions/IPage«DataBed»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/dataBed/queryById":{"get":{"tags":["设备管理 - 床垫设备数据"],"summary":"床垫设备数据 - 根据ID查询详情信息","operationId":"queryByIdUsingGET_6","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"DataBed","$ref":"#/definitions/DataBed"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/dataBed/save":{"post":{"tags":["设备管理 - 床垫设备数据"],"summary":"床垫设备数据 - 保存","operationId":"saveUsingPOST_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"dataBed","description":"dataBed","required":true,"schema":{"originalRef":"DataBed","$ref":"#/definitions/DataBed"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/dataBloodGlucose/deleteBatch":{"delete":{"tags":["设备管理 - 血糖仪设备数据"],"summary":"血糖仪设备数据 - 批量删除","operationId":"deleteBatchUsingDELETE_1","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"ids","in":"query","description":"ids","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/devicemgt/dataBloodGlucose/list":{"post":{"tags":["设备管理 - 血糖仪设备数据"],"summary":"血糖仪设备数据 - 分页列表查询","operationId":"queryPageListUsingPOST_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"dataBloodGlucose","description":"dataBloodGlucose","required":true,"schema":{"originalRef":"DataBloodGlucose","$ref":"#/definitions/DataBloodGlucose"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"IPage«DataBloodGlucose»","$ref":"#/definitions/IPage«DataBloodGlucose»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/dataBloodGlucose/queryById":{"get":{"tags":["设备管理 - 血糖仪设备数据"],"summary":"血糖仪设备数据 - 根据ID查询详情信息","operationId":"queryByIdUsingGET_7","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"DataBloodGlucose","$ref":"#/definitions/DataBloodGlucose"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/dataBloodGlucose/save":{"post":{"tags":["设备管理 - 血糖仪设备数据"],"summary":"血糖仪设备数据 - 保存","operationId":"saveUsingPOST_7","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"dataBloodGlucose","description":"dataBloodGlucose","required":true,"schema":{"originalRef":"DataBloodGlucose","$ref":"#/definitions/DataBloodGlucose"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/dataBloodOxygen/deleteBatch":{"delete":{"tags":["设备管理 - 血氧仪设备数据"],"summary":"血氧仪设备数据 - 批量删除","operationId":"deleteBatchUsingDELETE_2","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"ids","in":"query","description":"ids","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/devicemgt/dataBloodOxygen/list":{"post":{"tags":["设备管理 - 血氧仪设备数据"],"summary":"血氧仪设备数据 - 分页列表查询","operationId":"queryPageListUsingPOST_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"dataBloodOxygen","description":"dataBloodOxygen","required":true,"schema":{"originalRef":"DataBloodOxygen","$ref":"#/definitions/DataBloodOxygen"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"IPage«DataBloodOxygen»","$ref":"#/definitions/IPage«DataBloodOxygen»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/dataBloodOxygen/queryById":{"get":{"tags":["设备管理 - 血氧仪设备数据"],"summary":"血氧仪设备数据 - 根据ID查询详情信息","operationId":"queryByIdUsingGET_8","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"DataBloodOxygen","$ref":"#/definitions/DataBloodOxygen"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/dataBloodOxygen/save":{"post":{"tags":["设备管理 - 血氧仪设备数据"],"summary":"血氧仪设备数据 - 保存","operationId":"saveUsingPOST_8","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"dataBloodOxygen","description":"dataBloodOxygen","required":true,"schema":{"originalRef":"DataBloodOxygen","$ref":"#/definitions/DataBloodOxygen"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/dataBloodPressure/deleteBatch":{"delete":{"tags":["设备管理 - 血压计设备数据"],"summary":"血压计设备数据 - 批量删除","operationId":"deleteBatchUsingDELETE_3","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"ids","in":"query","description":"ids","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/devicemgt/dataBloodPressure/list":{"post":{"tags":["设备管理 - 血压计设备数据"],"summary":"血压计设备数据 - 分页列表查询","operationId":"queryPageListUsingPOST_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"dataBloodPressure","description":"dataBloodPressure","required":true,"schema":{"originalRef":"DataBloodPressure","$ref":"#/definitions/DataBloodPressure"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"IPage«DataBloodPressure»","$ref":"#/definitions/IPage«DataBloodPressure»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/dataBloodPressure/queryById":{"get":{"tags":["设备管理 - 血压计设备数据"],"summary":"血压计设备数据 - 根据ID查询详情信息","operationId":"queryByIdUsingGET_9","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"DataBloodPressure","$ref":"#/definitions/DataBloodPressure"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/dataBloodPressure/save":{"post":{"tags":["设备管理 - 血压计设备数据"],"summary":"血压计设备数据 - 保存","operationId":"saveUsingPOST_9","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"dataBloodPressure","description":"dataBloodPressure","required":true,"schema":{"originalRef":"DataBloodPressure","$ref":"#/definitions/DataBloodPressure"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/dataBodyFat/deleteBatch":{"delete":{"tags":["设备管理 - 体脂秤设备数据"],"summary":"体脂秤设备数据 - 批量删除","operationId":"deleteBatchUsingDELETE_4","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"ids","in":"query","description":"ids","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/devicemgt/dataBodyFat/list":{"post":{"tags":["设备管理 - 体脂秤设备数据"],"summary":"体脂秤设备数据 - 分页列表查询","operationId":"queryPageListUsingPOST_7","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"dataBodyFat","description":"dataBodyFat","required":true,"schema":{"originalRef":"DataBodyFat","$ref":"#/definitions/DataBodyFat"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"IPage«DataBodyFat»","$ref":"#/definitions/IPage«DataBodyFat»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/dataBodyFat/queryById":{"get":{"tags":["设备管理 - 体脂秤设备数据"],"summary":"体脂秤设备数据 - 根据ID查询详情信息","operationId":"queryByIdUsingGET_10","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"DataBodyFat","$ref":"#/definitions/DataBodyFat"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/dataBodyFat/save":{"post":{"tags":["设备管理 - 体脂秤设备数据"],"summary":"体脂秤设备数据 - 保存","operationId":"saveUsingPOST_10","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"dataBodyFat","description":"dataBodyFat","required":true,"schema":{"originalRef":"DataBodyFat","$ref":"#/definitions/DataBodyFat"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/dataEcg/deleteBatch":{"delete":{"tags":["设备管理 - 心电仪设备数据"],"summary":"心电仪设备数据 - 批量删除","operationId":"deleteBatchUsingDELETE_5","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"ids","in":"query","description":"ids","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/devicemgt/dataEcg/list":{"post":{"tags":["设备管理 - 心电仪设备数据"],"summary":"心电仪设备数据 - 分页列表查询","operationId":"queryPageListUsingPOST_8","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"dataEcg","description":"dataEcg","required":true,"schema":{"originalRef":"DataEcg","$ref":"#/definitions/DataEcg"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"IPage«DataEcg»","$ref":"#/definitions/IPage«DataEcg»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/dataEcg/queryById":{"get":{"tags":["设备管理 - 心电仪设备数据"],"summary":"心电仪设备数据 - 根据ID查询详情信息","operationId":"queryByIdUsingGET_11","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"DataEcg","$ref":"#/definitions/DataEcg"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/dataEcg/save":{"post":{"tags":["设备管理 - 心电仪设备数据"],"summary":"心电仪设备数据 - 保存","operationId":"saveUsingPOST_11","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"dataEcg","description":"dataEcg","required":true,"schema":{"originalRef":"DataEcg","$ref":"#/definitions/DataEcg"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/dataUrinalysis/deleteBatch":{"delete":{"tags":["设备管理 - 尿检马桶设备数据"],"summary":"尿检马桶设备数据 - 批量删除","operationId":"deleteBatchUsingDELETE_6","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"ids","in":"query","description":"ids","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/devicemgt/dataUrinalysis/list":{"post":{"tags":["设备管理 - 尿检马桶设备数据"],"summary":"尿检马桶设备数据 - 分页列表查询","operationId":"queryPageListUsingPOST_9","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"dataUrinalysis","description":"dataUrinalysis","required":true,"schema":{"originalRef":"DataUrinalysis","$ref":"#/definitions/DataUrinalysis"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"IPage«DataUrinalysis»","$ref":"#/definitions/IPage«DataUrinalysis»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/dataUrinalysis/queryById":{"get":{"tags":["设备管理 - 尿检马桶设备数据"],"summary":"尿检马桶设备数据 - 根据ID查询详情信息","operationId":"queryByIdUsingGET_12","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"DataUrinalysis","$ref":"#/definitions/DataUrinalysis"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/dataUrinalysis/save":{"post":{"tags":["设备管理 - 尿检马桶设备数据"],"summary":"尿检马桶设备数据 - 保存","operationId":"saveUsingPOST_12","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"dataUrinalysis","description":"dataUrinalysis","required":true,"schema":{"originalRef":"DataUrinalysis","$ref":"#/definitions/DataUrinalysis"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/dataWatch/deleteBatch":{"delete":{"tags":["设备管理 - 手表设备数据"],"summary":"手表设备数据 - 批量删除","operationId":"deleteBatchUsingDELETE_7","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"ids","in":"query","description":"ids","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/devicemgt/dataWatch/list":{"post":{"tags":["设备管理 - 手表设备数据"],"summary":"手表设备数据 - 分页列表查询","operationId":"queryPageListUsingPOST_10","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"dataWatch","description":"dataWatch","required":true,"schema":{"originalRef":"DataWatch","$ref":"#/definitions/DataWatch"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"IPage«DataWatch»","$ref":"#/definitions/IPage«DataWatch»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/dataWatch/queryById":{"get":{"tags":["设备管理 - 手表设备数据"],"summary":"手表设备数据 - 根据ID查询详情信息","operationId":"queryByIdUsingGET_13","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"DataWatch","$ref":"#/definitions/DataWatch"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/dataWatch/save":{"post":{"tags":["设备管理 - 手表设备数据"],"summary":"手表设备数据 - 保存","operationId":"saveUsingPOST_13","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"dataWatch","description":"dataWatch","required":true,"schema":{"originalRef":"DataWatch","$ref":"#/definitions/DataWatch"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/device/deleteBatch":{"delete":{"tags":["设备管理 - 设备信息"],"summary":"设备信息 - 批量删除","operationId":"deleteBatchUsingDELETE_8","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"ids","in":"query","description":"ids","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/devicemgt/device/exportXls":{"post":{"tags":["设备管理 - 设备信息"],"summary":"设备信息 - Excel导出","operationId":"exportXlsUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"device","description":"device","required":false,"schema":{"originalRef":"Device","$ref":"#/definitions/Device"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ModelAndView","$ref":"#/definitions/ModelAndView"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/device/importExcel":{"post":{"tags":["设备管理 - 设备信息"],"summary":"设备信息 - Excel导入","operationId":"importExcelUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"orgId","in":"query","description":"orgId","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/device/list":{"post":{"tags":["设备管理 - 设备信息"],"summary":"设备信息 - 分页列表查询","operationId":"queryPageListUsingPOST_11","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"device","description":"device","required":true,"schema":{"originalRef":"Device","$ref":"#/definitions/Device"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"IPage«Device»","$ref":"#/definitions/IPage«Device»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/device/queryById":{"get":{"tags":["设备管理 - 设备信息"],"summary":"设备信息 - 根据ID查询详情信息","operationId":"queryByIdUsingGET_14","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Device","$ref":"#/definitions/Device"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/device/relatedMember":{"get":{"tags":["设备管理 - 设备信息"],"summary":"关联人员 - 根据设备id查询绑定人员","operationId":"queryRelatedByDeviceIdUsingGET","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/device/save":{"post":{"tags":["设备管理 - 设备信息"],"summary":"设备信息 - 保存","operationId":"saveUsingPOST_14","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"device","description":"device","required":true,"schema":{"originalRef":"Device","$ref":"#/definitions/Device"}},{"name":"type","in":"query","description":"type","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/device/unBindMember":{"get":{"tags":["设备管理 - 设备信息"],"summary":"解绑 - 根据设备id 会员id 解绑设备","operationId":"queryRelatedByDeviceIdUsingGET_1","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"deviceId","in":"query","description":"deviceId","required":true,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/deviceSim/deleteBatch":{"delete":{"tags":["设备管理 - 流量卡信息"],"summary":"流量卡信息 - 批量删除","operationId":"deleteBatchUsingDELETE_9","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"ids","in":"query","description":"ids","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/devicemgt/deviceSim/exportXls":{"post":{"tags":["设备管理 - 流量卡信息"],"summary":"流量卡信息 - Excel导出","operationId":"exportXlsUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"deviceSim","description":"deviceSim","required":false,"schema":{"originalRef":"DeviceSim","$ref":"#/definitions/DeviceSim"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ModelAndView","$ref":"#/definitions/ModelAndView"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/deviceSim/importExcel":{"post":{"tags":["设备管理 - 流量卡信息"],"summary":"流量卡信息 - Excel导入","operationId":"importExcelUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/deviceSim/list":{"post":{"tags":["设备管理 - 流量卡信息"],"summary":"流量卡信息 - 分页列表查询","operationId":"queryPageListUsingPOST_12","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"deviceSim","description":"deviceSim","required":true,"schema":{"originalRef":"DeviceSim","$ref":"#/definitions/DeviceSim"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"IPage«DeviceSim»","$ref":"#/definitions/IPage«DeviceSim»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/deviceSim/queryById":{"get":{"tags":["设备管理 - 流量卡信息"],"summary":"流量卡信息 - 根据ID查询详情信息","operationId":"queryByIdUsingGET_15","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"DeviceSim","$ref":"#/definitions/DeviceSim"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/deviceSim/save":{"post":{"tags":["设备管理 - 流量卡信息"],"summary":"流量卡信息 - 保存","operationId":"saveUsingPOST_15","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"deviceSim","description":"deviceSim","required":true,"schema":{"originalRef":"DeviceSim","$ref":"#/definitions/DeviceSim"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/deviceUpgrade/deleteBatch":{"delete":{"tags":["设备管理 - 设备升级"],"summary":"设备升级 - 批量删除","operationId":"deleteBatchUsingDELETE_10","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"ids","in":"query","description":"ids","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/devicemgt/deviceUpgrade/list":{"post":{"tags":["设备管理 - 设备升级"],"summary":"设备升级 - 分页列表查询","operationId":"queryPageListUsingPOST_13","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"deviceUpgrade","description":"deviceUpgrade","required":true,"schema":{"originalRef":"DeviceUpgrade","$ref":"#/definitions/DeviceUpgrade"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"IPage«DeviceUpgrade»","$ref":"#/definitions/IPage«DeviceUpgrade»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/deviceUpgrade/queryById":{"get":{"tags":["设备管理 - 设备升级"],"summary":"设备升级 - 根据ID查询详情信息","operationId":"queryByIdUsingGET_16","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"DeviceUpgrade","$ref":"#/definitions/DeviceUpgrade"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/devicemgt/deviceUpgrade/save":{"post":{"tags":["设备管理 - 设备升级"],"summary":"设备升级 - 保存","operationId":"saveUsingPOST_16","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"deviceUpgrade","description":"deviceUpgrade","required":true,"schema":{"originalRef":"DeviceUpgrade","$ref":"#/definitions/DeviceUpgrade"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/membermgt/member/deleteBatch":{"delete":{"tags":["会员管理 - 会员列表"],"summary":"会员列表 - 批量删除","operationId":"deleteBatchUsingDELETE_11","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"ids","in":"query","description":"ids","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/membermgt/member/exportXls":{"post":{"tags":["会员管理 - 会员列表"],"summary":"会员列表 - Excel导出","operationId":"exportXlsUsingPOST_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"member","description":"member","required":false,"schema":{"originalRef":"Member","$ref":"#/definitions/Member"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ModelAndView","$ref":"#/definitions/ModelAndView"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/membermgt/member/list":{"post":{"tags":["会员管理 - 会员列表"],"summary":"会员列表 - 分页列表查询","operationId":"queryPageListUsingPOST_14","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"member","description":"member","required":true,"schema":{"originalRef":"Member","$ref":"#/definitions/Member"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"IPage«Member»","$ref":"#/definitions/IPage«Member»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/membermgt/member/queryById":{"get":{"tags":["会员管理 - 会员列表"],"summary":"会员列表 - 根据ID查询详情信息","operationId":"queryByIdUsingGET_18","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Member","$ref":"#/definitions/Member"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/membermgt/member/save":{"post":{"tags":["会员管理 - 会员列表"],"summary":"会员列表 - 保存","operationId":"saveUsingPOST_19","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"member","description":"member","required":true,"schema":{"originalRef":"Member","$ref":"#/definitions/Member"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/membermgt/memberFeedback/deleteBatch":{"delete":{"tags":["会员管理 - 意见反馈"],"summary":"意见反馈 - 批量删除","operationId":"deleteBatchUsingDELETE_12","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"ids","in":"query","description":"ids","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/membermgt/memberFeedback/exportXls":{"post":{"tags":["会员管理 - 意见反馈"],"summary":"意见反馈 - Excel导出","operationId":"exportXlsUsingPOST_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"memberFeedback","description":"memberFeedback","required":false,"schema":{"originalRef":"MemberFeedback","$ref":"#/definitions/MemberFeedback"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ModelAndView","$ref":"#/definitions/ModelAndView"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/membermgt/memberFeedback/list":{"post":{"tags":["会员管理 - 意见反馈"],"summary":"意见反馈 - 分页列表查询","operationId":"queryPageListUsingPOST_15","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"memberFeedback","description":"memberFeedback","required":true,"schema":{"originalRef":"MemberFeedback","$ref":"#/definitions/MemberFeedback"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"IPage«MemberFeedback»","$ref":"#/definitions/IPage«MemberFeedback»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/membermgt/memberFeedback/queryById":{"get":{"tags":["会员管理 - 意见反馈"],"summary":"意见反馈 - 根据ID查询详情信息","operationId":"queryByIdUsingGET_19","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"MemberFeedback","$ref":"#/definitions/MemberFeedback"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/membermgt/memberFeedback/save":{"post":{"tags":["会员管理 - 意见反馈"],"summary":"意见反馈 - 保存","operationId":"saveUsingPOST_20","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"memberFeedback","description":"memberFeedback","required":true,"schema":{"originalRef":"MemberFeedback","$ref":"#/definitions/MemberFeedback"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/messagemgt/reminderPlan/deleteBatch":{"delete":{"tags":["消息中心 - 提醒方案"],"summary":"提醒方案 - 批量删除","operationId":"deleteBatchUsingDELETE_13","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"ids","in":"query","description":"ids","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/messagemgt/reminderPlan/list":{"post":{"tags":["消息中心 - 提醒方案"],"summary":"提醒方案 - 分页列表查询","operationId":"queryPageListUsingPOST_18","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"reminderPlan","description":"reminderPlan","required":true,"schema":{"originalRef":"ReminderPlan","$ref":"#/definitions/ReminderPlan"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"IPage«ReminderPlan»","$ref":"#/definitions/IPage«ReminderPlan»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/messagemgt/reminderPlan/queryById":{"get":{"tags":["消息中心 - 提醒方案"],"summary":"提醒方案 - 根据ID查询详情信息","operationId":"queryByIdUsingGET_22","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ReminderPlan","$ref":"#/definitions/ReminderPlan"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/messagemgt/reminderPlan/save":{"post":{"tags":["消息中心 - 提醒方案"],"summary":"提醒方案 - 保存","operationId":"saveUsingPOST_23","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"reminderPlan","description":"reminderPlan","required":true,"schema":{"originalRef":"ReminderPlan","$ref":"#/definitions/ReminderPlan"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/alarm/changeStatus":{"post":{"tags":["ORG - 告警管理"],"summary":"告警处理","operationId":"changeStatusUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"dto","description":"dto","required":true,"schema":{"originalRef":"AlarmLogDTO","$ref":"#/definitions/AlarmLogDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/alarm/info":{"get":{"tags":["ORG - 告警管理"],"summary":"告警信息","operationId":"infoUsingGET","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"pageNo","in":"query","description":"pageNo","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"pageSize","required":false,"type":"integer","default":10,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"IPage«OrgAlarmLog»","$ref":"#/definitions/IPage«OrgAlarmLog»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/alarm/list":{"post":{"tags":["ORG - 告警管理"],"summary":"分页列表","operationId":"queryPageListUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"dto","description":"dto","required":true,"schema":{"originalRef":"AlarmDTO","$ref":"#/definitions/AlarmDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"IPage«OrgAlarmLog»","$ref":"#/definitions/IPage«OrgAlarmLog»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/alarm/listByMemberId":{"get":{"tags":["ORG - 告警管理"],"summary":"分页列表","operationId":"listByMemberIdUsingGET","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":true,"type":"string"},{"name":"pageNo","in":"query","description":"pageNo","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"pageSize","required":false,"type":"integer","default":10,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"IPage«OrgAlarmLog»","$ref":"#/definitions/IPage«OrgAlarmLog»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/alarm/queryById":{"get":{"tags":["ORG - 告警管理"],"summary":"根据ID查询详情信息","operationId":"queryByIdUsingGET","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"OrgAlarmLog","$ref":"#/definitions/OrgAlarmLog"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/alarmSetting/queryByMemberId":{"get":{"tags":["ORG - 预警设置"],"summary":"根据住户ID查询预警设置","operationId":"queryByMemberIdUsingGET","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"OrgAlarmSetting","$ref":"#/definitions/OrgAlarmSetting"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/alarmSetting/save":{"post":{"tags":["ORG - 预警设置"],"summary":"保存/编辑","operationId":"saveUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"setting","description":"setting","required":true,"schema":{"originalRef":"OrgAlarmSetting","$ref":"#/definitions/OrgAlarmSetting"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/bed/change":{"get":{"tags":["ORG - 床位管理"],"summary":"状态变换","operationId":"changeUsingGET","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"enabled","in":"query","description":"enabled","required":true,"type":"boolean"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/bed/delete":{"post":{"tags":["ORG - 床位管理"],"summary":"删除","operationId":"deleteUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"jsonObject","description":"jsonObject","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/bed/emptyBedList/queryByRoomId":{"get":{"tags":["ORG - 床位管理"],"summary":"根据房间ID查询空床位","operationId":"emptyBedListUsingGET","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"OrgBed","$ref":"#/definitions/OrgBed"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/bed/list":{"post":{"tags":["ORG - 床位管理"],"summary":"分页列表","operationId":"queryPageListUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"dto","description":"dto","required":true,"schema":{"originalRef":"BedDTO","$ref":"#/definitions/BedDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"IPage«OrgBed»","$ref":"#/definitions/IPage«OrgBed»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/bed/member/queryByBedId":{"get":{"tags":["ORG - 床位管理"],"summary":"根据床位Id查看人住房客","operationId":"queryByBedIdUsingGET","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Member","$ref":"#/definitions/Member"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/bed/queryById":{"get":{"tags":["ORG - 床位管理"],"summary":"根据ID查询详情信息","operationId":"queryByIdUsingGET_1","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"OrgBed","$ref":"#/definitions/OrgBed"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/bed/queryByRoomId":{"get":{"tags":["ORG - 床位管理"],"summary":"根据房间Id查看床位列表","operationId":"queryByRoomIdUsingGET","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"OrgBed","$ref":"#/definitions/OrgBed"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/bed/querySelected":{"get":{"tags":["ORG - 床位管理"],"summary":"床位监控 - 查询已选择床位","operationId":"querySelectedUsingGET","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/bed/save":{"post":{"tags":["ORG - 床位管理"],"summary":"保存/编辑","operationId":"saveUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"bed","description":"bed","required":true,"schema":{"originalRef":"OrgBed","$ref":"#/definitions/OrgBed"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/bed/saveSelected":{"post":{"tags":["ORG - 床位管理"],"summary":"床位监控 - 保存已选择床位","operationId":"saveSelectedUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"json","description":"json","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/bed/tree":{"post":{"tags":["ORG - 床位管理"],"summary":"床位树 - kv","operationId":"treeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"BuildingVo","$ref":"#/definitions/BuildingVo"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/bed/unbound/queryByRoomId":{"get":{"tags":["ORG - 床位管理"],"summary":"根据房间ID查询未绑定床垫设备的床位","operationId":"unboundBedListUsingGET","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"OrgBed","$ref":"#/definitions/OrgBed"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/building/delete":{"get":{"tags":["ORG - 楼层管理"],"summary":"删除","operationId":"deleteUsingGET","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/building/name":{"post":{"tags":["ORG - 楼层管理"],"summary":"查询大楼名称","operationId":"nameUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"HashMap«string,object»","$ref":"#/definitions/HashMap«string,object»"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/building/queryById":{"get":{"tags":["ORG - 楼层管理"],"summary":"根据ID查询详情信息","operationId":"queryByIdUsingGET_2","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"OrgBuilding","$ref":"#/definitions/OrgBuilding"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/building/save":{"post":{"tags":["ORG - 楼层管理"],"summary":"保存/编辑","operationId":"saveUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"building","description":"building","required":true,"schema":{"originalRef":"OrgBuilding","$ref":"#/definitions/OrgBuilding"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/building/tree":{"post":{"tags":["ORG - 楼层管理"],"summary":"楼层树 - kv","operationId":"treeUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"BuildingVo","$ref":"#/definitions/BuildingVo"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/building/treeList":{"post":{"tags":["ORG - 楼层管理"],"summary":"树列表-楼层","operationId":"treeListUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"OrgBuilding","$ref":"#/definitions/OrgBuilding"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/carePlan/delete":{"post":{"tags":["ORG - 护理方案"],"summary":"删除","operationId":"deleteUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"jsonObject","description":"jsonObject","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/carePlan/list":{"get":{"tags":["ORG - 护理方案"],"summary":"分页列表","operationId":"queryPageListUsingGET","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"pageNo","in":"query","description":"pageNo","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"pageSize","required":false,"type":"integer","default":10,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"IPage«OrgCarePlan»","$ref":"#/definitions/IPage«OrgCarePlan»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/carePlan/queryById":{"get":{"tags":["ORG - 护理方案"],"summary":"根据ID查询详情信息","operationId":"queryByIdUsingGET_3","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"OrgCarePlan","$ref":"#/definitions/OrgCarePlan"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/carePlan/save":{"post":{"tags":["ORG - 护理方案"],"summary":"保存/编辑","operationId":"saveUsingPOST_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"carePlan","description":"carePlan","required":true,"schema":{"originalRef":"OrgCarePlan","$ref":"#/definitions/OrgCarePlan"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/carePlanItem/delete":{"post":{"tags":["ORG - 护理方案项目"],"summary":"删除","operationId":"deleteUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"jsonObject","description":"jsonObject","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/carePlanItem/list":{"get":{"tags":["ORG - 护理方案项目"],"summary":"分页列表","operationId":"queryPageListUsingGET_1","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"pageNo","in":"query","description":"pageNo","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"pageSize","required":false,"type":"integer","default":10,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"IPage«OrgCarePlanItem»","$ref":"#/definitions/IPage«OrgCarePlanItem»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/carePlanItem/queryById":{"get":{"tags":["ORG - 护理方案项目"],"summary":"根据ID查询详情信息","operationId":"queryByIdUsingGET_4","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"OrgCarePlanItem","$ref":"#/definitions/OrgCarePlanItem"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/carePlanItem/save":{"post":{"tags":["ORG - 护理方案项目"],"summary":"保存/编辑","operationId":"saveUsingPOST_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"carePlanItem","description":"carePlanItem","required":true,"schema":{"originalRef":"OrgCarePlanItem","$ref":"#/definitions/OrgCarePlanItem"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/careWorker/delete":{"post":{"tags":["ORG - 护管管理"],"summary":"删除","operationId":"deleteUsingPOST_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"jsonObject","description":"jsonObject","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/careWorker/exportXls":{"post":{"tags":["ORG - 护管管理"],"summary":"Excel导出","operationId":"exportXlsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"careWorker","description":"careWorker","required":false,"schema":{"originalRef":"OrgCareWorker","$ref":"#/definitions/OrgCareWorker"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ModelAndView","$ref":"#/definitions/ModelAndView"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/careWorker/list":{"post":{"tags":["ORG - 护管管理"],"summary":"分页列表","operationId":"queryPageListUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"dto","description":"dto","required":true,"schema":{"originalRef":"CareWorkerDTO","$ref":"#/definitions/CareWorkerDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"IPage«OrgCareWorker»","$ref":"#/definitions/IPage«OrgCareWorker»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/careWorker/queryById":{"get":{"tags":["ORG - 护管管理"],"summary":"根据ID查询详情信息","operationId":"queryByIdUsingGET_5","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"OrgCareWorker","$ref":"#/definitions/OrgCareWorker"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/careWorker/queryByName":{"get":{"tags":["ORG - 护管管理"],"summary":"根据名字查询护管","operationId":"queryByNameUsingGET","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"name","in":"query","description":"name","required":false,"type":"string"},{"name":"pageNo","in":"query","description":"pageNo","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"pageSize","required":false,"type":"integer","default":10,"format":"int32"},{"name":"position","in":"query","description":"position","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"IPage«OrgCareWorker»","$ref":"#/definitions/IPage«OrgCareWorker»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/careWorker/save":{"post":{"tags":["ORG - 护管管理"],"summary":"保存/编辑","operationId":"saveUsingPOST_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"careWorker","description":"careWorker","required":true,"schema":{"originalRef":"OrgCareWorker","$ref":"#/definitions/OrgCareWorker"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/device/bed/Allocation":{"post":{"tags":["ORG - 设备管理"],"summary":"床垫设备关联床位","operationId":"bedAllocationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"deviceAllocation","description":"deviceAllocation","required":true,"schema":{"originalRef":"OrgDeviceAllocation","$ref":"#/definitions/OrgDeviceAllocation"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/device/bedToken":{"get":{"tags":["ORG - 设备管理"],"summary":"获取厂家提供床垫接口token","operationId":"bedTokenUsingGET","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/device/delete":{"post":{"tags":["ORG - 设备管理"],"summary":"删除","operationId":"deleteUsingPOST_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"jsonObject","description":"jsonObject","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/device/deviceList":{"get":{"tags":["ORG - 设备管理"],"summary":"设备列表","operationId":"deviceListUsingGET","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"DeviceTreeVo","$ref":"#/definitions/DeviceTreeVo"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/device/list":{"post":{"tags":["ORG - 设备管理"],"summary":"分页列表","operationId":"queryPageListUsingPOST_16","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"dto","description":"dto","required":true,"schema":{"originalRef":"DeviceDTO","$ref":"#/definitions/DeviceDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"IPage«Device»","$ref":"#/definitions/IPage«Device»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/device/member/Allocation":{"post":{"tags":["ORG - 设备管理"],"summary":"设备关联住户","operationId":"memberAllocationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"deviceAllocation","description":"deviceAllocation","required":true,"schema":{"originalRef":"OrgDeviceAllocation","$ref":"#/definitions/OrgDeviceAllocation"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/device/member/fingerprint":{"get":{"tags":["ORG - 设备管理"],"summary":"查询录入用户指纹状态","operationId":"fingerprintStatusUsingGET","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["ORG - 设备管理"],"summary":"发送录入用户指纹指令","operationId":"lotDeviceUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"deviceAllocation","description":"deviceAllocation","required":true,"schema":{"originalRef":"OrgDeviceAllocation","$ref":"#/definitions/OrgDeviceAllocation"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/device/member/queryByDeviceID":{"get":{"tags":["ORG - 设备管理"],"summary":"根据设备id查询关联用户","operationId":"queryMemberByDeviceIDUsingGET","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/device/member/saveFingerprint":{"post":{"tags":["ORG - 设备管理"],"summary":"保存成功指纹录入状态","operationId":"saveFingerprintUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"deviceAllocation","description":"deviceAllocation","required":true,"schema":{"originalRef":"OrgDeviceAllocation","$ref":"#/definitions/OrgDeviceAllocation"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/device/member/unAllocation":{"post":{"tags":["ORG - 设备管理"],"summary":"解除住户关联","operationId":"unAllocationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"deviceAllocation","description":"deviceAllocation","required":true,"schema":{"originalRef":"OrgDeviceAllocation","$ref":"#/definitions/OrgDeviceAllocation"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/device/queryByDeviceNum":{"get":{"tags":["ORG - 设备管理"],"summary":"根据设备编号查询详情信息","operationId":"queryByDeviceNumUsingGET","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"num","in":"query","description":"num","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Device","$ref":"#/definitions/Device"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/device/queryById":{"get":{"tags":["ORG - 设备管理"],"summary":"根据ID查询详情信息","operationId":"queryByIdUsingGET_20","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Device","$ref":"#/definitions/Device"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/device/save":{"post":{"tags":["ORG - 设备管理"],"summary":"保存/编辑","operationId":"saveUsingPOST_21","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"device","description":"device","required":true,"schema":{"originalRef":"Device","$ref":"#/definitions/Device"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/bed/index":{"get":{"tags":["ORG - 健康数据"],"summary":"睡眠数据 - 首页数据","operationId":"indexUsingGET_1","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":true,"type":"integer","format":"int64"},{"name":"num","in":"query","description":"num","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"BedHealthDataVo","$ref":"#/definitions/BedHealthDataVo"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/bed/monitor":{"post":{"tags":["ORG - 健康数据"],"summary":"床位监控","operationId":"monitorUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"json","description":"json","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/bed/monitor/statistics":{"get":{"tags":["ORG - 健康数据"],"summary":"床位监控 - 查询床垫统计数据","operationId":"statisticsUsingGET","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/bed/recordList":{"get":{"tags":["ORG - 健康数据"],"summary":"睡眠 - 历史记录","operationId":"recordListUsingGET","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":true,"type":"integer","format":"int64"},{"name":"pageNo","in":"query","description":"pageNo","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"pageSize","required":false,"type":"integer","default":10,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/bed/today":{"get":{"tags":["ORG - 健康数据"],"summary":"睡眠数据 - 今天数据","operationId":"todayUsingGET","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"id","in":"query","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"BedHealthDataVo","$ref":"#/definitions/BedHealthDataVo"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/bloodGlucose/index":{"get":{"tags":["ORG - 健康数据"],"summary":"血糖 - 首页数据","operationId":"indexUsingGET_2","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/bloodGlucose/recordList":{"get":{"tags":["ORG - 健康数据"],"summary":"血糖 - 历史记录","operationId":"recordListUsingGET_1","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":true,"type":"integer","format":"int64"},{"name":"pageNo","in":"query","description":"pageNo","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"pageSize","required":false,"type":"integer","default":10,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/bloodGlucose/today":{"get":{"tags":["ORG - 健康数据"],"summary":"血糖 - 今日检测","operationId":"todayUsingGET_1","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":true,"type":"integer","format":"int64"},{"name":"today","in":"query","description":"today","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/bloodOxygen/index":{"get":{"tags":["ORG - 健康数据"],"summary":"血氧 - 首页数据","operationId":"indexUsingGET_3","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/bloodOxygen/recordList":{"get":{"tags":["ORG - 健康数据"],"summary":"血氧 - 历史记录","operationId":"recordListUsingGET_2","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":true,"type":"integer","format":"int64"},{"name":"pageNo","in":"query","description":"pageNo","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"pageSize","required":false,"type":"integer","default":10,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/bloodOxygen/today":{"get":{"tags":["ORG - 健康数据"],"summary":"血氧 - 今日检测","operationId":"todayUsingGET_2","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":true,"type":"integer","format":"int64"},{"name":"today","in":"query","description":"today","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/bloodPressure/index":{"get":{"tags":["ORG - 健康数据"],"summary":"血压 - 首页数据","operationId":"indexUsingGET_4","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/bloodPressure/queryById":{"get":{"tags":["ORG - 健康数据"],"summary":"血压 - 根据ID查询数据","operationId":"todayUsingGET_3","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"bloodPressureId","in":"query","description":"bloodPressureId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/bloodPressure/recordList":{"get":{"tags":["ORG - 健康数据"],"summary":"血压 - 历史记录","operationId":"recordListUsingGET_3","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":true,"type":"integer","format":"int64"},{"name":"pageNo","in":"query","description":"pageNo","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"pageSize","required":false,"type":"integer","default":10,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/bloodPressure/today":{"get":{"tags":["ORG - 健康数据"],"summary":"血压 - 今日检测","operationId":"todayUsingGET_4","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":true,"type":"integer","format":"int64"},{"name":"today","in":"query","description":"today","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/bodyFat/index":{"get":{"tags":["ORG - 健康数据"],"summary":"体脂 - 首页数据","operationId":"indexUsingGET_5","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/bodyFat/queryById":{"get":{"tags":["ORG - 健康数据"],"summary":"体脂 - 根据ID查询数据","operationId":"todayUsingGET_5","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"bodyFatId","in":"query","description":"bodyFatId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/bodyFat/recordList":{"get":{"tags":["ORG - 健康数据"],"summary":"体脂 - 历史记录","operationId":"recordListUsingGET_4","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":true,"type":"integer","format":"int64"},{"name":"pageNo","in":"query","description":"pageNo","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"pageSize","required":false,"type":"integer","default":10,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/bodyFat/today":{"get":{"tags":["ORG - 健康数据"],"summary":"体脂 - 今日检测","operationId":"todayUsingGET_6","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":true,"type":"integer","format":"int64"},{"name":"today","in":"query","description":"today","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/ecg/index":{"get":{"tags":["ORG - 健康数据"],"summary":"心电 - 首页数据","operationId":"indexUsingGET_6","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/ecg/queryById":{"get":{"tags":["ORG - 健康数据"],"summary":"心电 - 根据ID查询数据","operationId":"todayUsingGET_7","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"ecgId","in":"query","description":"ecgId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/ecg/recordList":{"get":{"tags":["ORG - 健康数据"],"summary":"心电 - 历史记录","operationId":"recordListUsingGET_5","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":true,"type":"integer","format":"int64"},{"name":"pageNo","in":"query","description":"pageNo","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"pageSize","required":false,"type":"integer","default":10,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/ecg/today":{"get":{"tags":["ORG - 健康数据"],"summary":"心电 - 今日检测","operationId":"todayUsingGET_8","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":true,"type":"integer","format":"int64"},{"name":"today","in":"query","description":"today","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/urinalysis/index":{"get":{"tags":["ORG - 健康数据"],"summary":"尿检 - 首页数据","operationId":"indexUsingGET_7","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/urinalysis/queryById":{"get":{"tags":["ORG - 健康数据"],"summary":"尿检 - 根据ID查询数据","operationId":"todayUsingGET_9","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"urinalysisId","in":"query","description":"urinalysisId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/urinalysis/recordList":{"get":{"tags":["ORG - 健康数据"],"summary":"尿检 - 历史记录","operationId":"recordListUsingGET_6","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":true,"type":"integer","format":"int64"},{"name":"pageNo","in":"query","description":"pageNo","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"pageSize","required":false,"type":"integer","default":10,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/urinalysis/today":{"get":{"tags":["ORG - 健康数据"],"summary":"尿检 - 今日检测","operationId":"todayUsingGET_10","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":true,"type":"integer","format":"int64"},{"name":"today","in":"query","description":"today","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/watch/index":{"get":{"tags":["ORG - 健康数据"],"summary":"运动 - 首页数据","operationId":"indexUsingGET_8","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/watch/locationTrack":{"post":{"tags":["ORG - 健康数据"],"summary":"运动 - 轨迹定位","operationId":"locationTrackUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"dto","description":"dto","required":true,"schema":{"originalRef":"LocationTrackDTO","$ref":"#/definitions/LocationTrackDTO"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/watch/recordList":{"get":{"tags":["ORG - 健康数据"],"summary":"运动 - 历史记录","operationId":"recordListUsingGET_7","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":true,"type":"integer","format":"int64"},{"name":"pageNo","in":"query","description":"pageNo","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"pageSize","required":false,"type":"integer","default":10,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/health/watch/today":{"get":{"tags":["ORG - 健康数据"],"summary":"运动 - 今日检测","operationId":"todayUsingGET_11","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"name":"memberId","in":"query","description":"memberId","required":true,"type":"integer","format":"int64"},{"name":"today","in":"query","description":"today","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"Result","$ref":"#/definitions/Result"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/index/info":{"get":{"tags":["ORG - 管理首页"],"summary":"管理首页","operationId":"indexUsingGET","produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/login":{"post":{"tags":["ORG - 用户登录"],"summary":"登录接口","operationId":"loginUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"loginDTO","description":"loginDTO","required":true,"schema":{"originalRef":"LoginDTO","$ref":"#/definitions/LoginDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/orgmgt/member/Room":{"post":{"tags":["ORG - 房客管理"],"summary":"入住房间床位","operationId":"roomUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"X-Access-Token","in":"header","description":"token","required":false,"type":"string"},{"in":"body","name":"memberBed","description":"memberBed","required":true,"schema":{"or
[...]
