@import "@/styles/index.scss";
.title_tip{
	display: flex;
	align-items: center;
}
.title {
	@include ellipsis;
	position: relative;
	display: inline-block;
}
.icon {
	cursor: pointer;
	margin-left: 6px;
	font-size: 16px;
}
