@import "@/styles/index.scss";

$size: 24px;
$size-2: 16px;
$padding: 10px;
.pro_table_wrap {
	padding-bottom: $size;
	.filter_form {
		padding-top: $size-2;
		padding-left: $size - $padding;
		padding-right: $size - $padding;
	}
	.table_content {
		padding: 0 $size;
	}
	.alert_wrap {
		margin: 0 $size $padding;
	}
	.title_toolbar_wrap {
		@extend .alert_wrap;
		margin: $size-2 $size;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.reload_icon{
		cursor: pointer;
	}
}
.hiddren {
	display: none;
}
