@import "@/styles/index";
$collapsed_width: 48px;
$open_width: 200px;
$title_height: 64px;

.place_holder {
	@include layout_fade;
	display: none;
	flex-basis: $open_width;
	flex-shrink: 0;
	max-width: $open_width;
	min-height: 100vh;
	&.fixed {
		display: block;
	}
	&.collapsed {
		flex-basis: $collapsed_width;
		max-width: $collapsed_width;
	}
}

.sider_menu {
	@include layout_fade {
		transition-property: max-width, min-width, width;
	}
	z-index: 11;
	&.fixed {
		position: fixed;
		left: 0;
		top: 0;
		height: 100vh;
	}

	&.collapsed {
		.title {
			opacity: 0 !important;
		}
		.logo {
			opacity: 1 !important;
		}
	}
	.logo_title {
		display: flex;
		width: 100%;
		height: $title_height;
		overflow: hidden;
		color: $light_color_1;
		@include flex-center;
		.logo {
			opacity: 0;
			font-size: 24px;
			position: absolute;
			@include layout_fade {
				transition-property: opacity;
			}
		}
		.title {
			font-size: 20px;
			font-weight: bold;
			white-space: nowrap;
			opacity: 1;
			position: absolute;
			@include layout_fade {
				transition-property: opacity;
			}
		}
	}

	.menu {
		flex: 1;
		overflow: hidden auto;
		border-right: 0 !important;
		@include scrollbar($primary_color);
	}
}

:global {
	.ant-layout-sider-children {
		@include flex-center(column);
	}
	.ant-menu-inline-collapsed {
		width: $collapsed_width !important;
	}
	.ant-menu-item,
	.ant-menu-submenu-title {
		@apply flex items-center;
	}
}
