* {
	margin: 0;
	padding: 0;
}
:root {
	font-size: 10px;
}
.ant-drawer-body-effect {
	touch-action: none;
	width: calc(100% - 17px);
	overflow: hidden;
}
.ant-modal-body-effect {
	@extend .ant-drawer-body-effect;
}
